* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --text-color: #191616;
  --text-color2: #fff;
  --bg-color: #ff2a2a;
  --big-font: 3rem;
  --h2-font: 2rem;
  --h5-font: 1.3rem;
  --p-font: 0;
  height: 2000px;
}
/* header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
  background-color: var(--bg-color);
}
.logo {
  color: var(--text-color2);
  font-weight: 600;
  font-size: 2rem;
}
.navbar {
  display: flex;
}
.navbar a {
  color: var(--text-color2);
  font-size: 1.2rem;
  padding: 20px 50px;
  font-weight: 500;
}
.navbar a:hover {
  color: var(--bg-color2);
  transition: 0.4s;
}
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
/* header end */

/*  banner start */
.banner {
  padding: 170px 0;
  display: flex;
  align-items: center;
  margin: 0 10rem;
  justify-content: space-between;
}
.banner-text h1 {
  font-size: var(--big-font);
  color: var(--bg-color);
}
.banner-text h2 {
  font-size: var(--h2-font);
  color: var(--bg-color);
  margin: 1rem 0 2rem;
}
.banner img {
  max-width: 100%;
  width: 700px;
  height: auto;

  float: right;
}
.btn {
  display: inline-block;
  background-color: var(--bg-color);
  color: var(--text-color2);
  padding: 1rem 2.5rem;
  border-radius: 0.4rem;
}
.btn:hover {
  transform: scale(1.2) translateY(10px);
  transition: 0.4s;
  color: var(--text-color);
}
/* banner end */

/* Top sellers section  start*/
.top-sellers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10rem;
}
.top-sellers h2, .top-sellers h3 {
  font-size: var(--h2-font);
  color: var(--bg-color);
  position: relative;
  top: -5rem;
}
.product-section {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 10rem;
  text-align: center;
}
.product {
  width: 300px;
  height: 400px;
  box-shadow: 10px 10px 10px 10px rgb(213, 211, 211);
}
.product img {
  width: 300px;
  height: 300px;
}
.product h5 {
  font-size: var(--h5-font);
  color: var(--text-color);
}
.product p {
  font-size: var(--h5-font);
  color: var(--text-color);
  margin-top: 1rem;
}
.product:hover {
  border: 0.2rem solid var(--bg-color);
  transition: 0.2s;
  cursor: pointer;
}
/* Top sellers section end */

/* shop section start */
.shop{
  margin: 20rem 0;
  }
.shop h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--h2-font);
    color: var(--bg-color)
}
.shop h1{
  margin-top: -10rem;
  }
.shop .product {
  margin: 2rem 0;
}
/* shop section end */

/* about page start */
.about-us {
  margin: 10rem 10rem;
  padding: 2rem;
  border: .02rem  solid #ff2a2a  ;
}
.content-box {
justify-content: flex-start;
}
.content-box p{
margin-top: .6rem;

}
.content-box h1{
font-size: var(--h2-font);
color: var(--bg-color);
}
.content-box span {
  font-weight: 600;
}

.products-section {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 10rem;
  text-align: center;
}
.product_about {
  width: 200px;
  height: 300px;
  box-shadow: 10px 10px 10px 10px rgb(213, 211, 211);
  margin-top: 2rem;
}
.product_about img {
  width: 200px;
  height: 200px;
}
.produc_aboutt h5 {
  font-size: var(--h5-font);
  color: var(--text-color);
}
.product_about p {
  font-size: var(--h5-font);
  color: var(--text-color);
  margin-top: 1rem;
}
.product_about:hover {
  border: 0.2rem solid var(--bg-color);
  transition: 0.2s;
  cursor: pointer;
}
/* about page end */