* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --main-color: #ff2a2a;
  --text-color: #191616;
  --bg-color: ;
  --big-font: 3rem;
  --h2-font: 2rem;
  --p-font: 0;
}
/* header */
header {
  position: fixed;
  width: 100%;
  top:0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
}
.logo {
    color: var(--main-color);
    font-weight: 600;
    font-size: 2rem;
}
.navbar {
    display: flex;
}
.navbar a {
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 20px 50px;
    font-weight: 500;
}
.navbar a:hover {
    color: var(--main-color);
    transition: .4s;
}
#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
/* header end */

/*  banner start */
.banner {
    padding: 170px 170px;
    display: flex;
    align-items: center;
}
.banner-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.banner-text h2 {
    font-size: var(--h2-font);
    color: var(--main-color);
    margin: 1rem 0 2rem;
}
.banner img {
max-width: 100%;
width: 700px;
height: auto;
position: relative;
left: 200px;
}
.btn {
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 2.5rem;
    border-radius: .4rem;
}
.btn:hover {
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
/* banner end */